<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-full grid place-items-center">
    <div id="app">
        <section v-show="inProgressAssignments.length">
            <h2 class="font-bold mb-2">In Progress</h2>
            <ul>
                <li 
                    v-for="assignment in inProgressAssignments"
                     :key="assignment.name">
                    <label>
                        {{ assignment.name }}
                        <input type="checkbox" v-model="assignment.complete"/>
                    </label>
                </li>
            </ul>
        </section>
        <section v-show="completedAssignments.length" class="mt-8">
            <h2 class="font-bold mb-2">Complete</h2>
            <ul>
                <li 
                    v-for="assignment in completedAssignments"
                    :key="assignment.name"
                >
                    <label>
                        {{ assignment.name }}
                        <input type="checkbox" v-model="assignment.complete"/>
                    </label>
                </li>
            </ul>
        </section>
    </div>
    <script>

        let app = {
            data() {
                return {
                    assignments: [
                        { name: 'Finish project', complete: false },
                        { name: 'Read chapter 4', complete: false },
                        { name: 'Turn in homework', complete: false },
                    ]
                }
            },
            computed: { 
                completedAssignments(){
                    return this.assignments.filter(a => a.complete);
                },
                inProgressAssignments(){
                    return this.assignments.filter(a => !a.complete);
                }
            }
        };

        Vue.createApp(app).mount('#app');
    </script>
</body>

</html>